h1{border:solid  rgb(255, 255, 255);}

H1{color: rgb(255, 255, 255);}

h1{text-align: center;}

h1{font-size: 250;}


h2{border-left: rgb(0, 7, 75);}

H2{color: rgb(255, 255, 255);}

h2{text-align: center;}

h2{font-size: 250;}

#ima1 {margin-left: 40%;}
#ima1 {border: solid red; }


#ima2 {margin-left: 37%;}
#ima2 {border: solid red; }


body{background-color: black;}